.container {
    width: 1000px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.item {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
    }

    .item {
        color: red;
        align-items: flex-start
    }
}